@import url('https://font.googleapis.com/css2?family-Roboto&displau=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: blue;

}

a:visited { /* this called a sudo class or pswudo*/
    color: purple;
}

a:hover {
    color: dodgerblue;
}

a:active {
    color: red;
}
/* if you put the visisted above the anchor selector, visited will still be applied because the visited has more specificity than the other */

