@import url('https://font.googleapis.com/css2?family-Roboto&displau=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

a {
    color: steelblue;

}

a:visited { /* this called a sudo class or pswudo*/
    color: purple;
}

a:hover, a:focus { /* the focus is used when someone uses the tab instead of the mouse */
    /* color: dodgerblue; */
    opacity: 0.8;
    background: lightblue;
} /* sudo classes can do other things like changing the background */

a:active {
    color: red;
}
/* if you put the visisted above the anchor selector, visited will still be applied because the visited has more specificity than the other */
/* trtib mohim , trbthm kima hna lfo9 */



