@import url('https://font.googleapis.com/css2?family-Roboto&displau=swap');

body {
    padding: 5% 15%;
    font-size: 2rem;
    font-family: "Robot", sans-serif;
}

/* alt-z */

ol {
    list-style-type: upper-roman; 
    /* lower-alpha list our list with alphabits 
    decimal-leading-zero adds 0 before the number
    disc looks like ul now, you can see the diffirence by the html code only
    circle
    upper-roman
    */
}