@import url('https://font.googleapis.com/css2?family-Roboto&displau=swap');

body {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
}
/* The paragraphs in HTML are block level elements and they have some default propreties*/

/* We have main element cuz it's block level one */
/* main { */
    /* background-color: aqua; */ /* We are covering part of the main element with the paragraphs but the part where there is marging it turned aqua*/
    /* width: 50%; */ /* Now the paragraphs do not extend all the way accros the page, they are limited to their container
    the paragraphs have 100% width of what is giving so 100% of 50%*/

p {
    /* background-color: lightgray; */ /* The bg color is going all the way across the page 
    so by default it has 100% width and stack on each other, some margin "the spaces between the paragraphs"
    and 100% width means 100% of what is avaiable for them not the view port*/
    /* Every time we use another block level element any element not obly p, than they will stack on top each oter*/
}

.opposite {
    display: inline-block;
    background-color: #333;
    color: whitesmoke;
    /* This is inline element and what we can do and not do */
    margin-top: 100px; /* Nothing changes we can't aplly margin top on inline element likewise height*/ 
    /* By using the display inline-block the margin works, height works as well */
    height: 100px;
    padding: 4rem; /* Works, but if we do 4rem as example it will appers above the paragraphs to fix it add the display inline-block, 
    p display default is block and span display block is inline*/
}

/* Block level elements stack on each other and always vreate a new line, by default 100% of what ever they are giving if they are not inside of something that is limiting there width they will be the full width of the page
and inline elements do not stack on each other and do not create a new linem only takes the width of there content unless we put extra padding on them so it get more width because of the padding*/

/* And wehn we switch to inline-blcok we kinda get a hybard where we  can keep the content inline but we can apply top and bottom margin or height and other things typacilly only block elements have*/
/* the inline-block can be handy when we try to turn a link into a button and sometimes people do style links as buttons like wise it could be turning a list into a row instead of a virtucal list so it would be horizanal*/
